.dashboard {
    width: 17%;
    height: 100vh;
    background-color: #184c89;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    background-color: #184c89;
    color: #d2f0f7;
    border-radius: 4.375%; /* Retained from before */
    border: none;
    width: 90%;
    height: 4.6875%; /* Converted height from rem to % */
    font-weight: 700;
    padding: 8%; /* Equivalent to 1rem padding */
    margin: 2% auto; /* Equivalent to 1rem margin */
    font-size: 1.35rem;
    cursor: pointer;
  }
  
  .option:hover {
    border-radius: 7%;
    border: 2px solid #9bd4e2;
    background: #e8eef2;
    color: #184c89;
  }
  
  .clicked {
    border-radius: 7%;
    border: 2px solid #9bd4e2;
    background-color: #e8eef2;
    color: #184c89;
    width: 90%;
    margin: 3% auto;  /* Adjusted from 0.3rem to 3% */
    padding: 8%; /* Equivalent to 1rem padding */
    font-weight: 700;
  }
  
  .lower {
    margin-bottom: 3%; /* Adjusted from 1.2rem to 3% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logoutbtn {
    background-color: #184c89;
    color: white;
    border-radius: 4.375%;
    border: none;
    width: 90%;
    height: 4.6875%;
    font-weight: 700;
    padding: 8%; /* Equivalent to 1rem padding */
    margin: 3% auto; /* Adjusted from 1rem to 3% */
    font-size: 1.3rem;
  }
  
  .userimg {
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
  
  .userpic {
    margin: 3% auto; /* Adjusted from 1rem to 3% */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hrline {
    width: 70%;
    margin-top: 5%; 
  }
  